.cardMedia {
  height: 350px;
}

.menuButton {
  margin-right: 2px;
}

.topPanel {
  height: 128px;
  width: 100%;
  background-color: lightBlue;
}

.bottomPanel {
  height: 64px;
  width: 100%;
  background-color: yellowgreen;
  clear: both;
}

.leftPanel {
  width: 256px;
  /* height: calc(100% - 192px); */
  height: 634px;
  background-color: pink;
  float: left;
}

.rightPanel {
  width: 240px;
  /* height: calc(100% - 192px); */
  height: 634px;
  background-color: orange;
  float: right;
}

.centerPanel {
  margin: 0 240px 0 256px;
  background-color: lightcoral;
  overflow-y: auto;
}

.gridView {
  max-height: 616px;
}

.appStyle {
  display: flex;
  height: 100vh;
}

.leftColumnStyle {
  flex: 0 0 256px;
  background-color: pink;
}

.centerColumnStyle {
  flex: 1;
  background-color: lightcoral;
}

.rightColumnStyle {
  flex: 0 0 240px;
  background-color: orange;
}
