/* .cardMedia {
  height: 350px;
} */

.menuButton {
  margin-right: 2px;
}

.topPanel {
  height: 128px;
  width: 100%;
  background-color: lightBlue;
}

.bottomPanel {
  height: 64px;
  width: 100%;
  background-color: yellowgreen;
  clear: both;
}

.leftPanel {
  width: 256px;
  /* height: calc(100% - 192px); */
  height: 634px;
  background-color: pink;
  float: left;
}

.rightPanel {
  width: 240px;
  /* height: calc(100% - 192px); */
  height: 634px;
  background-color: orange;
  float: right;
}

.centerPanel {
  margin: 0 240px 0 256px;
  background-color: lightcoral;
  overflow-y: auto;
}

.gridView {
  max-height: 616px;
}

.appStyle {
  display: flex;
  height: 80vh;
}

.footerStyle {
  height: 8vh;
  background-color: violet;
}

.leftColumnStyle {
  flex: 0 0 256px;
  background-color: pink;
}

.centerColumnStyle {
  flex: 1;
  background-color: lightcoral;
  overflow-y: auto;
}

.rightColumnStyle {
  flex: 0 0 240px;
  background-color: orange;
}

.outer-container {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.unselectedImageStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: unset;
  box-sizing: border-box;
}

.selectedImageStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 4px solid white;
  box-sizing: border-box;
}

.gridItemStyle {
  width: 100%;
  height: 100%;
  background-color: #A9A9A9;
  border: 2px solid #909090;
  box-sizing: border-box;
}

.toolbarStyle {
  height: 10vh;
  background-color: darkgray
}

.toolbarIconButtonContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: darkgray;
  height: 5vh;
}

.toolbarIconStyle {}

.toolbarIconButtonRow {
  position: absolute;
  left: 256px;
  bottom: 0px;
}

/*
.container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: #f0f0f0;
  height: 10vh;
}

.iconButtonRow {
  position: absolute;
  bottom: 20px;
}
*/